body {
     font-family: 'Luckiest Guy', cursive;
}

.header {
    background: #222;
    padding-bottom: 40px;
}

    .header h1 {
        color: #a7e20c;
        font-size: 72px;
    }

        .header h1 span.small {
            color: #a7e20c;
            font-size: 54px;
        }

        .header h1 span.big {
            color: #a7e20c;
            font-size: 104px;
            transform: translate(0,10px);
            display: inline-block;
        }
.dino-row {
    margin-top: 50px;
}
.dino-row img {
    max-width: 300px;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
   
}
