body { font-family: 'Luckiest Guy', cursive; }

.header {
    background: #222;
    padding-bottom: 40px;
}

.header h1 {
    color: #a7e20c;
    font-size: 64px;
    margin: 0;
    white-space: nowrap;
}

.header h1 span.small {
    color: #a7e20c;
    font-size: 52px;
}

.header h1 span.big {
    color: #a7e20c;
    font-size: 94px;
    transform: translate(0, 10px);
    display: inline-block;
}

.header h2 {
    color: #4f6b06;
    display: none;
}

.dino-row-wrapper {
    background: url(/dino-bg.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
}

.dino-row-wrapper.dull { background-image: url(/dino-bg-dull.jpg); }

.dino-row-wrapper.rain { background-image: url(/dino-bg-dull-rain.jpg); }

.dino-row {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.dino-desc {
    color: #FFF;
    font-size: 40px;
    text-shadow: #000 2px 2px;
}

.dino-row img {
    max-width: 400px;
    width: 90%;
}

.summary-item {
    margin-top: 30px;
    text-align: center;
    background: #333;
    color: #FFF;
    font-size: 22px;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100px;
    flex-direction: column;
    margin: 30px;
}

.summary-item .value {
    font-size: 28px;
    color: #a7e20c;
}

.summary-item .pound {
    font-size: 28px;
    color: #a7e20c;
}

.transactions-title { font-size: 32px; }

    .green {
        color: #a7e20c;
    }

    .red {
        color: red;
    }

.transactions { border-top: 1px solid #CCC; }

.transaction {
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid #CCC;
}

.transaction .thumb { font-size: 26px !important; }

.footer {
    background: #333;
    height: 20px;
    margin-top: 50px;
}

@media (max-width: 920px) {
    .dino-row { height: 300px; }

    .dino-row img { max-width: 300px; }
}

@media (max-width: 462px) {
    .dino-row img { max-width: 200px; }
}